<style>
	body {
		background: #2980B9;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}

	img {
		padding-left: 500px;
	}

	h1 {
		padding-left: 650px;
	}
</style>

<h1>SHOW image </h1>

<img src="<%= foundPic.image %>">
<p><%= foundPic.description %></p>

<p><a href="/pictures/<%= foundPic._id %>/comments/new" class="btn btn-success">Add New Comment</a></p>

<% foundPic.comments.forEach(function(comment){ %>
	<p><%= comment.author %> - <%= comment.text %></p>
<% }) %>